

.order-container{
    border: 1px solid #eee;
    border-radius: 20px;
    padding: 50px 30px !important;
.order{
    .order-title{
        width:50px !important;
        height:50px !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
}